<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>isRead</key>
		<false/>
		<key>content</key>
		<string>单读会在春节期间保持更新，在这个热闹的节日里，他依然是一个可以保持安静阅读的空间。</string>
		<key>create_time</key>
		<string>3周前</string>
		<key>title</key>
		<string>今天是我们在一起第28天</string>
	</dict>
</array>
</plist>
